body{
    background-color: #A9B3BC;
    font-family: 'Hina Mincho', serif;
    margin: 0px;
}

.homepage_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/cover.png");
    /* or using cover */
    background-size: cover;
    height: 450px;
    /* top-left , top-right , bottom-left , bottom-right */
    border-radius: 0px 0px 10px 10px;
    padding-top: 25px;
    border: 5px solid #A9B3BC;
    border:3px solid black;

}


#logo{
    margin-top:-90px;
    width:300px;
        
}


#home_title{
    /* If padding setting on here will refer to h tag*/
    margin-top:-70px;
    margin-bottom: -15px;
    font-size: 40px;
}

#home_quote{
    font-size: 25px;
    font-weight: bold;
}

.textline-between{
    background-image: url("images/between.jpg");
    background-size:cover; 
    margin: 0px 0px 5px 0px;
    padding-bottom:100px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    border:3px solid black;
}


.places_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: end;

}

#place-title{
    
}

#place-img{
    border: 2px solid black; 
}

#place-img:hover{
    opacity: 0.3;
    border:2px solid red;
}

#first-img:hover,#second-img:hover,#third-img:hover,#four-img:hover{
    border: 2px solid black;
}

#place-text{
    width:350px;
    height:90px;
    padding:0px 50px 20px 0px;
}

.author-container{
    display: flex;
    border: 4px solid black; 
    /* control the card position*/
    justify-content: center;
    padding:20px 10px;
    margin: 0px 180px 50px 180px; 

}

.card{
    display: flex;
    border: 4px solid black; 
    padding: 20px;
    background-color: #e0fbfc;
}

.author-text{
    background-color: #98c1d9;
    padding:10px;
    text-align: center
}

#author-description{
    font-size: 25px;
}

#author-icon{
    width:150px;
    border: 2px solid black; 
}

#footer{
    text-align: center;
}

