body{
    background-color: #A9B3BC;
    font-family: 'Hina Mincho', serif;
}

.homepage_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/cover.png");
    /* or using cover */
    background-size: cover;
    height: 450px;
    /* top-left , top-right , bottom-left , bottom-right */
    border-radius: 0px 0px 10px 10px;
    padding-top: 25px;
    border: 5px solid #A9B3BC;

}

.home_cover_image{
    background-color: red;
}

#home_title{
    /* If padding setting on here will refer to h tag*/
    
    margin-bottom: -15px;
    font-size: 40px;
}

#home_quote{
    font-size: 25px;
    font-weight: bold;
}

.textline-between{
    margin: 0px 0px 5px 0px;
    text-align: center;
}


.places_container{
    height:205px;
    display:flex;

    margin: 0px auto;
     /* make the place images center , if drag the browser still center */
    justify-content: center;
    /*
    if the height is enough, it can use: 
    align-items: start , center end;
    */ 
}

.place_img{
    height:200px;
    width:350px;
    border: 0.1px solid black;
    border-top: 2px solid black;
    
}

.place_img:hover{
    border:3px solid black;
    opacity: 0.3;
}

.place_details{
    color: white;
    background-color: #1D3557;

}

.place_text{
    display:flex;
    align-items:space-around;
    text-align: center;

}

#kogane_text:hover,#kitahama_text:hover,#masuura_text:hover,#asar_text:hover{
    font-weight: bold;
    font-size: 20px;
}

#kogane_text{
    width:285px;
    border-right:1px solid black;
}

#kitahama_text{
    width:283px;
    border-right:1px solid black;
}

#masuura_text{
    width:283px;
    border-right:1px solid black;
}

#asar_text{
    width:283px;
    border-right:1px solid black;
}

/* footer */
#footer{
    text-align: center;
}